-*
.*
!.gitignore
!.claude/
node_modules
.idea
.DS_Store

# MAM cloned junk — NEVER commit these
/mol/
/node/
/bog/
.git/
.editorconfig
.gitattributes
.gitpod.yml
.meta.tree
.npmrc
.prettierrc.json
.vscode/
LICENSE
README.md
_logo.png
_logo.svg
lang.lang.tree
mam.jam.js
mam.ts
meta.lang.tree
package.json
sandbox.config.json
tsconfig.json
tsfmt.json
